<!doctype html>
<html lang="en">
{{ partial "head" . }}
   <body>
      <!-- loading -->
      <div id="loading">
         <div id="loading-center">
            <div class="load-img" >
               <img src="/images/loader.gif" alt="loader">
            </div>
         </div>
      </div>
      <!-- loading End -->
{{ partial "nav-white" . }}
    <!-- Breadcrumb Start -->
    <div class=" main-bg">
        <div class="container-fluid p-0">
            <div class="text-left iq-breadcrumb-one
               iq-bg-over black     ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-12">
                            <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                                <h2 class="title">راه‌کارهای بسپین</h2>
                                <ol class="breadcrumb main-bg">
                                    <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home mr-2"></i>صقحه اصلی</a></li>
                                    <li class="breadcrumb-item active">خدمات</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Icon-box Start -->
    <section class="iq-pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center iq-title-box iq-title-default iq-title-box-2">
                        <div class="iq-title-icon">
                        </div>
                        <span class="iq-subtitle">خدمات ما</span>
                        <h2 class="iq-title">لورم ایپسوم شناخته می‌شوند. لورم ایپسوم یا طرح‌نما</h2>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="iq-fancy-box-list iq-fancy-box-list-1  text-left iq-shadow">
                        <div class="iq-fancy-box-content">
                            <div class="iq-img-area">
                                <img src="/images/fancy-list/01.png" class="img-fluid" alt="BESPIN"> </div>
                            <div class="iq-fancy-details">
                                <h4 class="iq-fancy-title"> Add-ons</h4>
                                <div class="special-content">
                                    <p class="fancy-box-content">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است
                                    </p>
                                </div>

                                <div class="iq-list  iq-one-column">
                                    <ul class="iq-list-with-icon">
                                        <li>
                                            <i class="ion ion-android-checkbox-outline"></i> Advance Advisory Team </li>

                                        <li>
                                            <i class="ion ion-android-checkbox-outline"></i> Professional Services </li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="iq-fancy-box-list iq-fancy-box-list-1  text-left iq-shadow">
                        <div class="iq-fancy-box-content">
                            <div class="iq-img-area">
                                <img src="/images/fancy-list/02.png" class="img-fluid" alt="BESPIN"> </div>
                            <div class="iq-fancy-details">
                                <h4 class="iq-fancy-title"> GitHub Integration</h4>
                                <div class="special-content">
                                    <p class="fancy-box-content">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است
                                    </p>
                                </div>

                                <div class="iq-list  iq-one-column">
                                    <ul class="iq-list-with-icon">
                                        <li>
                                            <i class="ion ion-android-checkbox-outline"></i> Advance Advisory Team </li>

                                        <li>
                                            <i class="ion ion-android-checkbox-outline"></i> Professional Services </li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="iq-fancy-box-list iq-fancy-box-list-1  text-left iq-shadow">
                        <div class="iq-fancy-box-content">
                            <div class="iq-img-area">
                                <img src="/images/fancy-list/03.png" class="img-fluid" alt="BESPIN"> </div>
                            <div class="iq-fancy-details">
                                <h4 class="iq-fancy-title"> Static Sites</h4>
                                <div class="special-content">
                                    <p class="fancy-box-content">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است
                                    </p>
                                </div>

                                <div class="iq-list  iq-one-column">
                                    <ul class="iq-list-with-icon">
                                        <li>
                                            <i class="ion ion-android-checkbox-outline"></i> Advance Advisory Team </li>

                                        <li>
                                            <i class="ion ion-android-checkbox-outline"></i> Professional Services </li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="iq-fancy-box-list iq-fancy-box-list-1  text-left iq-shadow">
                        <div class="iq-fancy-box-content">
                            <div class="iq-img-area">
                                <img src="/images/fancy-list/04.png" class="img-fluid" alt="BESPIN"> </div>
                            <div class="iq-fancy-details">
                                <h4 class="iq-fancy-title"> Data Clips</h4>
                                <div class="special-content">
                                    <p class="fancy-box-content">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است
                                    </p>
                                </div>

                                <div class="iq-list  iq-one-column">
                                    <ul class="iq-list-with-icon">
                                        <li>
                                            <i class="ion ion-android-checkbox-outline"></i> Advance Advisory Team </li>

                                        <li>
                                            <i class="ion ion-android-checkbox-outline"></i> Professional Services </li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="iq-fancy-box-list iq-fancy-box-list-1  text-left iq-shadow">
                        <div class="iq-fancy-box-content">
                            <div class="iq-img-area">
                                <img src="/images/fancy-list/05.png" class="img-fluid" alt="BESPIN"> </div>
                            <div class="iq-fancy-details">
                                <h4 class="iq-fancy-title"> data rollback</h4>
                                <div class="special-content">
                                    <p class="fancy-box-content">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است
                                    </p>
                                </div>

                                <div class="iq-list  iq-one-column">
                                    <ul class="iq-list-with-icon">
                                        <li>
                                            <i class="ion ion-android-checkbox-outline"></i> Advance Advisory Team </li>

                                        <li>
                                            <i class="ion ion-android-checkbox-outline"></i> Professional Services </li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="iq-fancy-box-list iq-fancy-box-list-1  text-left iq-shadow">
                        <div class="iq-fancy-box-content">
                            <div class="iq-img-area">
                                <img src="/images/fancy-list/06.png" class="img-fluid" alt="BESPIN"> </div>
                            <div class="iq-fancy-details">
                                <h4 class="iq-fancy-title"> App metrics</h4>
                                <div class="special-content">
                                    <p class="fancy-box-content"> It is a long established fact that a reader will be distracted by the.
                                    </p>
                                </div>

                                <div class="iq-list  iq-one-column">
                                    <ul class="iq-list-with-icon">
                                        <li>
                                            <i class="ion ion-android-checkbox-outline"></i> Advance Advisory Team </li>

                                        <li>
                                            <i class="ion ion-android-checkbox-outline"></i> Professional Services </li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Icon-box End -->

    <!-- Counter Start -->
    <section class="main-bg" style="background: url(/images/others/06.jpg) no-repeat 0 0; background-attachment: fixed; background-size:cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-lg-0 mb-5">
                    <div class="iq-title-box iq-title-default iq-title-box-2"> <span class="iq-subtitle">Language</span>
                        <h2 class="iq-title text-white">Work with the language you already love</h2>
                        <p class="iq-title-desc text-white">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.</p>
                    </div>
                    <div class="iq-list  iq-two-column">
                        <ul class="iq-list-with-icon">
                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i> Public Cloud </li>

                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i> Private Cloud </li>

                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i> Virtual Private Cloud </li>

                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i> Tally-as-a-Service </li>

                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i> Banking Community Cloud </li>

                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i> Load Balancing </li>

                        </ul>
                    </div>
                    <div class="iq-btn-container mt-4">
                        <a class="iq-button iq-btn-medium iq-btn-round iq-btn-flat d-inline" href="javascript:void(0)">Read More</a>
                    </div>
                </div>
                <div class="col-lg-6 align-self-stretch align-self-center">
                    <div class="iq-popup-video">
                        <div class="iq-video-img position-relative">

                            <div class="iq-video-icon wow FadeIn">
                                <a href="https://www.youtube.com/watch?v=_I94-tJlovg" class="iq-video popup-youtube">
                                    <i aria-hidden="true" class="ion ion-play"></i> </a>
                                <div class="iq-waves">
                                    <div class="waves wave-1"></div>
                                    <div class="waves wave-2"></div>
                                    <div class="waves wave-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter End -->

{{ partial "from-blog" . }}

{{ partial "footer" . }}

<!-- back-to-top -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
    </div>
    <!-- back-to-top End -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.4.1.js"></script>
    <!-- jQuery  for scroll me js -->
    <script src='/js/jquery-min.js'></script>
    <!-- popper  -->
    <script src="/js/popper.min.js"></script>
    <!--  bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Appear JavaScript -->
    <script src="/js/appear.js"></script>
    <!-- Jquery-migrate JavaScript -->
    <script src='/js/jquery-migrate.min.js'></script>
    <!-- Scripts JavaScript -->
    <script src='/js/scripts.js'></script>
    <!-- countdownTimer JavaScript -->
    <script src='/js/jQuery.countdownTimer.min.js'></script>
    <!-- Tox-progress JavaScript -->
    <script src='/js/tox-progress.min.js'></script>
    <!-- Timeline JavaScript -->
    <script src='/js/timeline.js'></script>
    <!-- Timeline min JavaScript -->
    <script src='/js/timeline.min.js'></script>
    <!-- Slick JavaScript -->
    <script src='/js/slick.min.js'></script>
    <!-- Popper JavaScript -->
    <script src='/js/popper.min.js'></script>
    <!-- Owl.carousel JavaScript -->
    <script src='/js/owl.carousel.min.js'></script>
    <!-- Countdown JavaScript -->
    <script src='/js/countdown.js'></script>
    <!-- Jquery.countTo JavaScript -->
    <script src='/js/jquery.countTo.js'></script>
    <!-- Magnific-popup JavaScript -->
    <script src='/js/jquery.magnific-popup.min.js'></script>
    <!-- Isotope.pkgd.min JavaScript -->
    <script src='/js/isotope.pkgd.min.js'></script>
    <!-- Wow JavaScript -->
    <script src='/js/wow.min.js'></script>
    <!--  Custom JavaScript -->
    <script src="/js/custom.js"></script>
</body>

</html>
