<!doctype html>
<html lang="en">

{{ partial "head" . }}

<body>
    <!-- loading -->
    <div id="loading">
        <div id="loading-center">
            <div class="load-img">
                <img src="/images/loader.gif" alt="loader">
            </div>
        </div>
    </div>
    <!-- loading End -->

{{ partial "nav-white" . }}

<!-- Breadcrumb Start -->
    <div class=" main-bg">
        <div class="container-fluid p-0">
            <div class="text-left iq-breadcrumb-one
		iq-bg-over black     ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-12">
                            <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                                <h2 class="title">تیم ما</h2>
                                <ol class="breadcrumb main-bg">
                                    <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home mr-2"></i>صفحه اصلی</a></li>
                                    <li class="breadcrumb-item active">تیم بسپین</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Team Start -->
    <section class="iq-pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center iq-title-box iq-title-default iq-title-box-2">
                        <div class="iq-title-icon">
                        </div>
                        <span class="iq-subtitle">به ما بپیوندید</span>
                        <h2 class="iq-title">تیمی که کنار هم ساختیم</h2>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="iq-team iq-team-slider iq-team-style-9 ">
                        <div class="owl-carousel" data-dots="false" data-nav="false" data-items="4" data-items-laptop="3" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1" data-autoplay="true" data-loop="true" data-margin="30">
                            <div class="iq-team-blog">
                                <div class="iq-team-img">
                                    <img class="img-fluid" src="/images/team/05.jpg" alt="image">
                                    <div class="iq-team-social">
                                        <ul>
                                            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="iq-team-description">
                                    <div class="iq-team-info">
                                        <h5 class="member-text">محمد</h5>
                                        <span class="designation-text">Project Manager</span>

                                    </div>

                                </div>
                            </div>
                            <div class="iq-team-blog">
                                <div class="iq-team-img">
                                    <img class="img-fluid" src="/images/team/04.jpg" alt="image">
                                    <div class="iq-team-social">
                                        <ul>
                                            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="iq-team-description">
                                    <div class="iq-team-info">
                                        <h5 class="member-text">محمد</h5>
                                        <span class="designation-text">DevOps Engineer</span>

                                    </div>

                                </div>
                            </div>
                            <div class="iq-team-blog">
                                <div class="iq-team-img">
                                    <img class="img-fluid" src="/images/team/03.jpg" alt="image">
                                    <div class="iq-team-social">
                                        <ul>
                                            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="iq-team-description">
                                    <div class="iq-team-info">
                                        <h5 class="member-text">حمید</h5>
                                        <span class="designation-text">Cloud DevOps Engineer</span>

                                    </div>

                                </div>
                            </div>
                            <div class="iq-team-blog">
                                <div class="iq-team-img">
                                    <img class="img-fluid" src="/images/team/02.jpg" alt="image">
                                    <div class="iq-team-social">
                                        <ul>
                                            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="iq-team-description">
                                    <div class="iq-team-info">
                                        <h5 class="member-text">محمد حسین</h5>
                                        <span class="designation-text">DevOps Engineer</span>

                                    </div>

                                </div>
                            </div>
                            <div class="iq-team-blog">
                                <div class="iq-team-img">
                                    <img class="img-fluid" src="/images/team/01.jpg" alt="image">
                                    <div class="iq-team-social">
                                        <ul>
                                            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="iq-team-description">
                                    <div class="iq-team-info">
                                        <h5 class="member-text">علی</h5>
                                        <span class="designation-text">DevOps Engineer</span>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iq-team iq-team-slider iq-team-style-9 ">
                        <div class="owl-carousel" data-dots="false" data-nav="false" data-items="4" data-items-laptop="3" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1" data-autoplay="true" data-loop="true" data-margin="30">
                            <div class="iq-team-blog">
                                <div class="iq-team-img">
                                    <img class="img-fluid" src="/images/team/05.jpg" alt="image">
                                    <div class="iq-team-social">
                                        <ul>
                                            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="iq-team-description">
                                    <div class="iq-team-info">
                                        <h5 class="member-text">محمد</h5>
                                        <span class="designation-text">Projet Manager</span>

                                    </div>

                                </div>
                            </div>
                            <div class="iq-team-blog">
                                <div class="iq-team-img">
                                    <img class="img-fluid" src="/images/team/04.jpg" alt="image">
                                    <div class="iq-team-social">
                                        <ul>
                                            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="iq-team-description">
                                    <div class="iq-team-info">
                                        <h5 class="member-text">محمد</h5>
                                        <span class="designation-text">DevOps Engineer</span>

                                    </div>

                                </div>
                            </div>
                            <div class="iq-team-blog">
                                <div class="iq-team-img">
                                    <img class="img-fluid" src="/images/team/03.jpg" alt="image">
                                    <div class="iq-team-social">
                                        <ul>
                                            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="iq-team-description">
                                    <div class="iq-team-info">
                                        <h5 class="member-text">حمید</h5>
                                        <span class="designation-text">Cloud DevOps Engineer</span>

                                    </div>

                                </div>
                            </div>
                            <div class="iq-team-blog">
                                <div class="iq-team-img">
                                    <img class="img-fluid" src="/images/team/02.jpg" alt="image">
                                    <div class="iq-team-social">
                                        <ul>
                                            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="iq-team-description">
                                    <div class="iq-team-info">
                                        <h5 class="member-text">حمدحسین</h5>
                                        <span class="designation-text">DevOps Engineer</span>

                                    </div>

                                </div>
                            </div>
                            <div class="iq-team-blog">
                                <div class="iq-team-img">
                                    <img class="img-fluid" src="/images/team/01.jpg" alt="image">
                                    <div class="iq-team-social">
                                        <ul>
                                            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="iq-team-description">
                                    <div class="iq-team-info">
                                        <h5 class="member-text">علی</h5>
                                        <span class="designation-text">DevOps Engineer</span>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team End -->

    <!-- Counter Start -->
    <section class="main-bg" style="background: url(/images/others/06.jpg) no-repeat 0 0; background-attachment: fixed; background-size:cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-lg-0 mb-5">
                    <div class="iq-title-box iq-title-default iq-title-box-2"> <span class="iq-subtitle">سرویس‌های DevOps</span>
                        <h2 class="iq-title text-white">با سرویس‌های DevOps تیم بسپین، به تحول دیجیتال خود سرعت دهید</h2>
                        <p class="iq-title-desc text-white">
                        تیم DevOps بسپین با استفاده از ابزارهای مدرن و رویکردهای خودکارسازی، فرآیندهای توسعه و استقرار نرم‌افزار را بهینه‌سازی کرده و به شما کمک می‌کند تا نرم‌افزارهای خود را سریع‌تر و با کیفیت‌تر عرضه کنید. استفاده از **
                        </p>
                    </div>
                    <div class="iq-list  iq-two-column">
                        <ul class="iq-list-with-icon">
                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i> ابزارهای خودکارسازی CI/CD </li>

                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i> پشتیبانی از توسعه بومی ابری </li>

                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i> زیرساخت به عنوان کد (IaC) </li>

                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i> نظارت مداوم و تجزیه و تحلیل عملکرد </li>

                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i> امنیت یکپارچه در چرخه زندگی نرم‌افزار (DevSecOps) </li>

                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i> مدیریت مقیاس‌پذیر در فضای ابری </li>

                        </ul>
                    </div>
                    <div class="iq-btn-container mt-4">
                        <a class="iq-button iq-btn-medium iq-btn-round iq-btn-flat d-inline" href="/services">اطلاعات بیشتر</a>
                    </div>
                </div>
                <div class="col-lg-6 align-self-stretch align-self-center">
                    <div class="iq-popup-video">
                        <div class="iq-video-img position-relative">

                            <div class="iq-video-icon wow FadeIn">
                                <a href="https://www.youtube.com/watch?v=_I94-tJlovg" class="iq-video popup-youtube">
                                    <i aria-hidden="true" class="ion ion-play"></i> </a>
                                <div class="iq-waves">
                                    <div class="waves wave-1"></div>
                                    <div class="waves wave-2"></div>
                                    <div class="waves wave-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter End -->

<span style="display: block; padding-top: 100px;">
    {{ partial "from-blog" . }}
</span>

{{ partial "footer" . }}

<!-- back-to-top -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
    </div>
    <!-- back-to-top End -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.4.1.js"></script>
    <!-- jQuery  for scroll me js -->
    <script src='/js/jquery-min.js'></script>
    <!-- popper  -->
    <script src="/js/popper.min.js"></script>
    <!--  bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Appear JavaScript -->
    <script src="/js/appear.js"></script>
    <!-- Jquery-migrate JavaScript -->
    <script src='/js/jquery-migrate.min.js'></script>
    <!-- Scripts JavaScript -->
    <script src='/js/scripts.js'></script>
    <!-- countdownTimer JavaScript -->
    <script src='/js/jQuery.countdownTimer.min.js'></script>
    <!-- Tox-progress JavaScript -->
    <script src='/js/tox-progress.min.js'></script>
    <!-- Timeline JavaScript -->
    <script src='/js/timeline.js'></script>
    <!-- Timeline min JavaScript -->
    <script src='/js/timeline.min.js'></script>
    <!-- Slick JavaScript -->
    <script src='/js/slick.min.js'></script>
    <!-- Popper JavaScript -->
    <script src='/js/popper.min.js'></script>
    <!-- Owl.carousel JavaScript -->
    <script src='/js/owl.carousel.min.js'></script>
    <!-- Countdown JavaScript -->
    <script src='/js/countdown.js'></script>
    <!-- Jquery.countTo JavaScript -->
    <script src='/js/jquery.countTo.js'></script>
    <!-- Magnific-popup JavaScript -->
    <script src='/js/jquery.magnific-popup.min.js'></script>
    <!-- Isotope.pkgd.min JavaScript -->
    <script src='/js/isotope.pkgd.min.js'></script>
    <!-- Wow JavaScript -->
    <script src='/js/wow.min.js'></script>
    <!--  Custom JavaScript -->
    <script src="/js/custom.js"></script>
</body>

</html>
