<div id="search-2" class="widget widget_search">
  <form action="//google.com/search" method="get" class="search-form">
   <label for="search-form-5e875eae921cb">
      <span class="screen-reader-text">Search for:</span>
   </label>
   <input type="search" id="search-form-5e875eae921cb" class="search-field" placeholder="دنبال چی می گردید&hellip;" name="q">
   <input type="hidden" id="search-form-5e875eae921cb" class="search-field" value="site:{{ .Site.BaseURL }}" name="q">
   <button type="submit" class="search-submit"><i class="fa fa-search"></i><span class="screen-reader-text">Search</span></button>
  </form>
</div>
