<!doctype html>
<html lang="en">
{{ partial "head" . }}
   <body>
      <!-- loading -->
      <div id="loading">
         <div id="loading-center">
            <div class="load-img" >
               <img src="/images/loader.gif" alt="loader">
            </div>
         </div>
      </div>
      <!-- loading End -->
{{ partial "nav-white" . }}
    <!-- Breadcrumb Start -->
    <div class=" main-bg">
        <div class="container-fluid p-0">
            <div class="text-left iq-breadcrumb-one
                  iq-bg-over black     ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-12">
                            <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                                <h2 class="title">درخواست همکاری</h2>
                                <ol class="breadcrumb main-bg">
                                    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home mr-2"></i>صفحه اصلی</a></li>
                                    <li class="breadcrumb-item active"><a href="/jobs">فرصت‌های شغلی</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- About Us Start -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img src="/images/others/02.png" class="img-fluid" alt="bespin">
                </div>
                <div class="col-lg-6 col-sm-12 mb-lg-0 mb-5">
                    <div class=" text-left iq-title-box iq-title-default iq-title-box-1">
                        <div class="iq-title-icon">
                        </div>

                        <h2 class="iq-title">
                        </h2>

                        <p class="iq-title-desc bigger">
                        اگر به دنبال فرصتی هستید که استعدادها و مهارت‌هایتان را در محیطی حرفه‌ای و پویا به کار بگیرید، ما منتظر شما هستیم!
                        <br>
رزومه خود را برای ما ارسال کنید و به تیمی بپیوندید که تفاوت‌ها را می‌سازد. در اینجا، فرصت رشد، یادگیری و همکاری با افراد برجسته برای شما فراهم است. ما به تنوع و خلاقیت اهمیت می‌دهیم و از شما حمایت می‌کنیم تا توانایی‌هایتان را به بهترین شکل ممکن به نمایش بگذارید.
                        <br>
فرصت‌های شغلی ما را بررسی کنید و مسیری را انتخاب کنید که با علایق و مهارت‌هایتان هماهنگ باشد. مشتاقانه منتظر شنیدن از شما هستیم!
                        </p>
                    </div>
                    <ul class="job-details d-inline-block p-0">
                        <li class="list-unstyled">
                            <h5 class="deatils d-inline-block">نوع همکاری:</h5> <span class="pl-3">تمام وقت</span>
                        </li>
                        <li class="list-unstyled">
                            <h5 class="deatils d-inline-block">امکان دورکاری:</h5> <span class="pl-3">بله</span>
                        </li>
                    </ul>
                    <ul class="job-details d-inline-block ml-lg-5 p-0">
                        <li class="list-unstyled">
                            <h5 class="deatils d-inline-block">ساعت شروع کار:</h5> <span class="pl-3">شناور در صبح</span>
                        </li>
                        <li class="list-unstyled">
                            <h5 class="deatils d-inline-block">روزهای کاری:</h5> <span class="pl-3">دوشنبه تا جمعه</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us End -->
    <!-- Counter Start -->
    <section class="iq-counter-section pt-0 iq-pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="iq-accordion  iq-accordion-semi-round iq-accordion-classic">
                        <div class="iq-accordion-block  1 accordion-active">
                            <div class="iq-accordion-title" style="">
                                <div class="iq-icon-right"><i aria-hidden="true" class="ion ion-minus-round active"></i><i aria-hidden="true" class="ion ion-plus inactive"></i></div>
                                <h5 class="mb-0 accordion-title">چه مواردی را در رزومه‌ام در نظر بگیرم؟</h5>
                            </div>
                            <div class="iq-accordion-details">
                                <p class="iq-content-text">رزومه شما باید ساده، خوانا و حرفه‌ای باشد و تمام اطلاعات کلیدی را به‌طور مختصر و هدفمند ارائه دهد. ساختار پیشنهادی شامل یک بخش خلاصه کوتاه از مهارت‌ها و تجربه‌های شما، اطلاعات تماس، سوابق کاری مرتبط، مهارت‌های فنی و نرم، و تحصیلات یا مدارک حرفه‌ای است.</p>
                            </div>
                        </div>
                        <div class="iq-accordion-block   2">
                            <div class="iq-accordion-title">
                                <div class="iq-icon-right"><i aria-hidden="true" class="ion ion-minus-round active"></i><i aria-hidden="true" class="ion ion-plus inactive"></i></div>
                                <h5 class="mb-0 accordion-title">چقدر طول می‌کشد تا پاسخ درخواست خود را دریافت کنم؟</h5>
                            </div>
                            <div class="iq-accordion-details">
                                <p class="iq-content-text"> معمولاً طی ۷ تا ۱۰ روز کاری درخواست شما بررسی می‌شود و در صورت تأیید، برای مصاحبه دعوت خواهید شد. </p>
                            </div>
                        </div>
                        <div class="iq-accordion-block   3">
                            <div class="iq-accordion-title">
                                <div class="iq-icon-right"><i aria-hidden="true" class="ion ion-minus-round active"></i><i aria-hidden="true" class="ion ion-plus inactive"></i></div>
                                <h5 class="mb-0 accordion-title">آیا می‌توانم برای چندین موقعیت شغلی اپلای کنم؟</h5>
                            </div>
                            <div class="iq-accordion-details">
                                <p class="iq-content-text">بله، شما می‌توانید برای موقعیت‌هایی که با مهارت‌ها و تجربه‌تان همخوانی دارد، درخواست ارسال کنید.</p>
                            </div>
                        </div>
                        <div class="iq-accordion-block   4">
                            <div class="iq-accordion-title">
                                <div class="iq-icon-right"><i aria-hidden="true" class="ion ion-minus-round active"></i><i aria-hidden="true" class="ion ion-plus inactive"></i></div>
                                <h5 class="mb-0 accordion-title">اگر سوالی درباره موقعیت شغلی داشته باشم چه کنم؟</h5>
                            </div>
                            <div class="iq-accordion-details">
                                <p class="iq-content-text">می‌توانید از طریق فرم تماس یا ایمیل ما، سوالات خود را مطرح کنید. تیم ما آماده پاسخ‌گویی است.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-lg-0 mb-5">
                    <div class="iq-title-box iq-title-default iq-title-box-2">
                        <div class="iq-title-icon">
                        </div>
                        <span class="iq-subtitle">اپلای</span>
                        <h2 class="iq-title">ارسال رزومه</h2>
                        <p class="iq-title-desc">لطفاً موارد زیر را آماده کنید و سپس از طریق دکمه زیر، رزومه خود را ارسال کنید.</p>
                    </div>
                    <div class="iq-list  iq-two-column">
                        <ul class="iq-list-with-icon">
                            <li>
                                <i class="ion ion-stop"></i>رزومه خود را در Google Drive یا Dropbox بارگذاری کنید.
                            </li>
                            <li>
                                <i class="ion ion-stop"></i>انگیزه‌نامه (اختیاری)
                            </li>
                            <li>
                                <i class="ion ion-stop"></i>لینک پروفایل Linkedin یا نمونه‌کارها (در صورت وجود)
                            </li>
                            <li>
                                <i class="ion ion-stop"></i>اطلاعات تماس (شماره تلفن و ایمیل)
                            </li>
                        </ul>
                    </div>
                    <div class="iq-btn-container mt-4">
                        <a class="iq-button iq-btn-medium iq-btn-round iq-btn-flat d-inline" href="https://survey.porsline.ir/s/nFRasopB" target="_blank">فرم درخواست همکاری</a>
                    </div>
                    <div class="iq-title-box iq-title-default iq-title-box-2">
                        <p class="iq-title-desc">اگر سوالی درباره فرآیند جذب یا موقعیت‌های شغلی دارید، پاسخ آن را در اینجا بیابید یا مستقیماً با ما تماس بگیرید. آماده‌ایم تا هر سوالی را پاسخ دهیم و شما را در مسیر اپلای همراهی کنیم. از طریق ایمیل یا <a href=/contact>فرم تماس</a> با ما در ارتباط باشید.</p>
                    </div>
                </div>
            </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Counter End -->
    <!-- Counter Start -->
    <section class="main-bg" style="background: url(/images/others/06.jpg) no-repeat 0 0; background-attachment: fixed; background-size:cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-lg-0 mb-5">
<!--                    <div class="iq-title-box iq-title-default iq-title-box-2"> <span class="iq-subtitle">Language</span>
                        <h2 class="iq-title text-white">Work with the language you already love</h2>
                        <p class="iq-title-desc text-white">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.</p>
                    </div>
                    <div class="iq-list  iq-two-column">
                        <ul class="iq-list-with-icon">
                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i> Public Cloud </li>

                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i> Private Cloud </li>

                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i> Virtual Private Cloud </li>

                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i> Tally-as-a-Service </li>

                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i> Banking Community Cloud </li>

                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i> Load Balancing </li>

                        </ul>
                    </div>
                    <div class="iq-btn-container mt-4">
                        <a class="iq-button iq-btn-medium iq-btn-round iq-btn-flat d-inline" href="javascript:void(0)">Read More</a>
                    </div>-->
                </div>
                <div class="col-lg-6 align-self-stretch align-self-center">
                    <div class="iq-popup-video">
                        <div class="iq-video-img position-relative">

                            <div class="iq-video-icon wow FadeIn">
                                <a href="https://www.youtube.com/watch?v=_I94-tJlovg" class="iq-video popup-youtube">
                                    <i aria-hidden="true" class="ion ion-play"></i> </a>
                                <div class="iq-waves">
                                    <div class="waves wave-1"></div>
                                    <div class="waves wave-2"></div>
                                    <div class="waves wave-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter End -->

<span style="display: block; padding-top: 100px;">
    {{ partial "from-blog" . }}
</span>

{{ partial "footer" . }}
    <!-- back-to-top -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
    </div>
    <!-- back-to-top End -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.4.1.js"></script>
    <!-- jQuery  for scroll me js -->
    <script src='/js/jquery-min.js'></script>
    <!-- popper  -->
    <script src="/js/popper.min.js"></script>
    <!--  bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Appear JavaScript -->
    <script src="/js/appear.js"></script>

    <!-- Jquery-migrate JavaScript -->
    <script src='/js/jquery-migrate.min.js'></script>
    <!-- Scripts JavaScript -->
    <script src='/js/scripts.js'></script>
    <!-- countdownTimer JavaScript -->
    <script src='/js/jQuery.countdownTimer.min.js'></script>
    <!-- Tox-progress JavaScript -->
    <script src='/js/tox-progress.min.js'></script>
    <!-- Timeline JavaScript -->
    <script src='/js/timeline.js'></script>
    <!-- Timeline min JavaScript -->
    <script src='/js/timeline.min.js'></script>
    <!-- Slick JavaScript -->
    <script src='/js/slick.min.js'></script>
    <!-- Popper JavaScript -->
    <script src='/js/popper.min.js'></script>
    <!-- Owl.carousel JavaScript -->
    <script src='/js/owl.carousel.min.js'></script>
    <!-- Countdown JavaScript -->
    <script src='/js/countdown.js'></script>
    <!-- Jquery.countTo JavaScript -->
    <script src='/js/jquery.countTo.js'></script>
    <!-- Magnific-popup JavaScript -->
    <script src='/js/jquery.magnific-popup.min.js'></script>
    <!-- Isotope.pkgd.min JavaScript -->
    <script src='/js/isotope.pkgd.min.js'></script>
    <!-- Wow JavaScript -->
    <script src='/js/wow.min.js'></script>
    <!--  Custom JavaScript -->
    <script src="/js/custom.js"></script>
</body>

</html>
