<!doctype html>
<html lang="en">
{{ partial "head" . }}
   <body>
      <!-- loading -->
      <div id="loading">
         <div id="loading-center">
            <div class="load-img" >
               <img src="/images/loader.gif" alt="loader">
            </div>
         </div>
      </div>
      <!-- loading End -->
{{ partial "nav-white" . }}
    <!-- Breadcrumb Start -->
    <div class=" main-bg">
        <div class="container-fluid p-0">
            <div class="text-left iq-breadcrumb-one
                  iq-bg-over black     ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-12">
                            <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                                <h2 class="title">مهندس ارشد دواپس</h2>
                                <ol class="breadcrumb main-bg">
                                    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home mr-2"></i>صفحه اصلی</a></li>
                                    <li class="breadcrumb-item active">درخواست همکاری</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- About Us Start -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img src="/images/others/02.png" class="img-fluid" alt="bespin">
                </div>
                <div class="col-lg-6 col-sm-12 mb-lg-0 mb-5">
                    <ul class="job-details d-inline-block p-0">
                        <li class="list-unstyled">
                            <h5 class="deatils d-inline-block">نوع همکاری:</h5> <span class="pl-3">تمام وقت</span>
                        </li>
                    </ul>
                    <ul class="job-details d-inline-block ml-lg-5 p-0">
                        <li class="list-unstyled">
                            <h5 class="deatils d-inline-block">سطح تجربه:</h5> <span class="pl-3">ارشد</span>
                        </li>
                    </ul>
                    <div class=" text-left iq-title-box iq-title-default iq-title-box-1">
                        <div class="iq-title-icon">
                        </div>

                        <h2 class="iq-title">
                        </h2>

                        <p class="iq-title-desc">
                        ما به دنبال یک مهندس ارشد دواپس هستیم که بتواند با استفاده از دانش فنی پیشرفته و نگاه تحلیلی خود، زیرساخت‌های نرم‌افزاری ما را به سطوح بالاتری برساند. اگر شما فردی هستید که در محیط‌های پویا و چالش‌برانگیز به بهترین عملکرد خود می‌رسید، علاقه به یادگیری مداوم دارید و به دنبال فرصت‌هایی برای تاثیرگذاری واقعی هستید، تیم ما بهترین مکان برای شما خواهد بود.<br />
                        <br /><br />
                        <h3 class="iq-title">مسئولیت‌ها:</h3>
                        <br />
                        مهندس ارشد دواپس مسئولیت طراحی، پیاده‌سازی و مدیریت زیرساخت‌های ابری را با استفاده از ابزارها و فناوری‌های مدرن بر عهده دارد. این نقش شامل بهینه‌سازی فرآیندهای CI/CD به منظور بهبود چرخه تولید و انتشار نرم‌افزار و نظارت دقیق بر عملکرد سیستم‌ها برای تضمین پایداری و مقیاس‌پذیری آن‌ها است. همکاری نزدیک با تیم‌های توسعه برای ارتقای عملیات توسعه و انتشار، بخش دیگری از وظایف این موقعیت شغلی است. همچنین، مدیریت و بهینه‌سازی ابزارهای مانیتورینگ، لاگینگ و آلرتینگ برای پایش وضعیت سیستم‌ها و شناسایی مشکلات احتمالی، از اهمیت بالایی برخوردار است. در کنار شناسایی و رفع مشکلات زیرساختی، برنامه‌ریزی برای پیشگیری از بروز مجدد این مشکلات و مستندسازی فرآیندها و ابزارهای مرتبط نیز از دیگر وظایف کلیدی این موقعیت شغلی محسوب می‌شوند.
                        </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us End -->
    <!-- Counter Start -->
    <section class="iq-counter-section pt-0 iq-pb-70">
        <div class="container">
            <div class="row rtl">
                <div class="col-lg-6 mb-lg-0 mb-5">
                    <div class="iq-title-box iq-title-default iq-title-box-2">
                        <div class="iq-title-icon">
                        </div>
                        <h3 class="iq-title">مهارت‌ها و توانمندی‌های موردنیاز:</h3>
                        <p class="iq-title-desc">لطفا به الزمات شغلی زیر توجه کنید:</p>
                    </div>
                    <div class="iq-list  iq-one-column">
                        <ul class="iq-list-with-icon">
                            <li>
                                <i class="ion ion-stop"></i>تجربه کار با ابزارهای کانتینر (Docker) و ارکستراسیون (Kubernetes).
                            </li>
                            <li>
                                <i class="ion ion-stop"></i>دانش عمیق در ابزارهای CI/CD مانند Jenkins، GitLab CI، CircleCI یا مشابه.
                            </li>
                            <li>
                                <i class="ion ion-stop"></i>آشنایی با زبان‌های اسکریپت‌نویسی (مانند Python، Bash یا Go).
                            </li>
                            <li>
                                <i class="ion ion-stop"></i>تجربه در مدیریت و تنظیم ابزارهای مانیتورینگ (Prometheus، Grafana، ELK Stack یا مشابه).
                            </li>
                            <li>
                                <i class="ion ion-stop"></i>توانایی عیب‌یابی سیستم‌ها در شرایط بحرانی.
                            </li>
                            <li>
                                <i class="ion ion-stop"></i>مهارت‌های ارتباطی و کار تیمی عالی.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 mb-lg-0 mb-5">
                    <div class="iq-title-box iq-title-default iq-title-box-2">
                        <div class="iq-title-icon">
                        </div>
                        <h3 class="iq-title">امتیازات اضافی (مزیت رقابتی):</h3>
                        <p class="iq-title-desc">خوشحال خواهیم شد اگر با یک یا چند مورد از تخصص‌های زیر تجربه داشته باشید:</p>
                    </div>
                    <div class="iq-list  iq-one-column">
                        <ul class="iq-list-with-icon">
                            <li>
                                <i class="ion ion-stop"></i>تجربه در معماری Microservices.
                            </li>
                            <li>
                                <i class="ion ion-stop"></i>آشنایی با ابزارهای IaC (مانند Terraform، Ansible، یا Chef).
                            </li>
                            <li>
                                <i class="ion ion-stop"></i>سابقه کار در محیط‌های Agile.
                            </li>
                            <li>
                                <i class="ion ion-stop"></i>مدیریت و بهینه‌سازی ابزارهای مانیتورینگ، لاگینگ و آلرتینگ.
                            </li>
                            <li>
                                <i class="ion ion-stop"></i>طراحی، پیاده‌سازی و مدیریت زیرساخت‌های ابری (Cloud Infrastructure).
                            </li>
                            <li>
                                <i class="ion ion-stop"></i>داشتن مدارک معتبر (مانند سری LPIC-3 یا Certified Kubernetes Administrator).
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Counter End -->
    <!-- Counter Start -->
    <section class="main-bg" style="background: url(/images/others/06.jpg) no-repeat 0 0; background-attachment: fixed; background-size:cover;">
        <div class="container">
            <div class="row rtl">
                <div class="col-lg-6 align-self-stretch align-self-center">
                    <div class=" text-left iq-title-box iq-title-default iq-title-box-1">
                        <div class="iq-title-icon">
                        </div>

                        <h2 class="iq-title">
                        </h2>

                        <p class="iq-title-desc bigger text-white">
                        اگر به دنبال فرصتی هستید که استعدادها و مهارت‌هایتان را در محیطی حرفه‌ای و پویا به کار بگیرید، ما منتظر شما هستیم!
                        <br>
از دکمه ارسال فرم درخواست همکاری در این صفحه اقدام کنید و یا رزومه خود را به آدرس info@bespin.ir - با ذکر عنوان موقعیت شغلی در عنوان - ایمیل کنید.
                        <br>
                        در اینجا، فرصت رشد، یادگیری و همکاری با افراد برجسته برای شما فراهم است. ما به تنوع و خلاقیت اهمیت می‌دهیم و از شما حمایت می‌کنیم تا توانایی‌هایتان را به بهترین شکل ممکن به نمایش بگذارید. مشتاقانه منتظر شنیدن از شما هستیم!
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 mb-lg-0 mb-5">
                    <div class="iq-title-box iq-title-default iq-title-box-2">
                    <span class="iq-subtitle">اپلای</span>
                        <h2 class="iq-title text-white">ارسال رزومه</h2>
                        <p class="iq-title-desc text-white">لطفاً موارد زیر را آماده کنید و سپس از طریق دکمه زیر، رزومه خود را ارسال کنید:</p>
                    </div>
                    <div class="iq-list  iq-two-column">
                        <ul class="iq-list-with-icon">
                            <li class="text-white">
                                <i class="ion ion-stop"></i> رزومه خود را در Google Drive یا Dropbox بارگذاری کنید. </li>

                            <li class="text-white">
                                <i class="ion ion-stop"></i> انگیزه‌نامه (اختیاری) </li>

                            <li class="text-white">
                                <i class="ion ion-stop"></i> لینک پروفایل Linkedin یا نمونه‌کارها (در صورت وجود) </li>
                        </ul>
                    </div>
                    <div class="iq-btn-container mt-4">
                        <a class="iq-button iq-btn-medium iq-btn-round iq-btn-flat d-inline" href="https://survey.porsline.ir/s/nFRasopB" target="_blank">فرم درخواست همکاری</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Counter End -->

<span style="display: block; padding-top: 100px;">
    {{ partial "from-blog" . }}
</span>

{{ partial "footer" . }}
    <!-- back-to-top -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
    </div>
    <!-- back-to-top End -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.4.1.js"></script>
    <!-- jQuery  for scroll me js -->
    <script src='/js/jquery-min.js'></script>
    <!-- popper  -->
    <script src="/js/popper.min.js"></script>
    <!--  bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Appear JavaScript -->
    <script src="/js/appear.js"></script>

    <!-- Jquery-migrate JavaScript -->
    <script src='/js/jquery-migrate.min.js'></script>
    <!-- Scripts JavaScript -->
    <script src='/js/scripts.js'></script>
    <!-- countdownTimer JavaScript -->
    <script src='/js/jQuery.countdownTimer.min.js'></script>
    <!-- Tox-progress JavaScript -->
    <script src='/js/tox-progress.min.js'></script>
    <!-- Timeline JavaScript -->
    <script src='/js/timeline.js'></script>
    <!-- Timeline min JavaScript -->
    <script src='/js/timeline.min.js'></script>
    <!-- Slick JavaScript -->
    <script src='/js/slick.min.js'></script>
    <!-- Popper JavaScript -->
    <script src='/js/popper.min.js'></script>
    <!-- Owl.carousel JavaScript -->
    <script src='/js/owl.carousel.min.js'></script>
    <!-- Countdown JavaScript -->
    <script src='/js/countdown.js'></script>
    <!-- Jquery.countTo JavaScript -->
    <script src='/js/jquery.countTo.js'></script>
    <!-- Magnific-popup JavaScript -->
    <script src='/js/jquery.magnific-popup.min.js'></script>
    <!-- Isotope.pkgd.min JavaScript -->
    <script src='/js/isotope.pkgd.min.js'></script>
    <!-- Wow JavaScript -->
    <script src='/js/wow.min.js'></script>
    <!--  Custom JavaScript -->
    <script src="/js/custom.js"></script>
</body>

</html>
