<!doctype html>
<html lang="en">
{{ partial "head" . }}
   <body>
      <!-- loading -->
<!--      <div id="loading">
         <div id="loading-center">
            <div class="load-img" >
               <img src="/images/loader.gif" alt="loader">
            </div>
         </div>
      </div>-->
      <!-- loading End -->
{{ partial "nav-white" . }}
      <!-- Breadcrumb Start -->
         <div class="main-bg" >
            <div class="container-fluid p-0">
               <div class="text-left iq-breadcrumb-one iq-bg-over black">
                  <div class="container">
                     <div class="row align-items-center">
                        <div class="col-sm-12">
                           <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                              <h2 class="title">{{ .Title }}</h2>
                              <ol class="breadcrumb main-bg">
                                 <li class="breadcrumb-item"><a href="/"><i class="fa fa-home mr-2"></i>صفحه اصلی</a></li>
                                 <li class="breadcrumb-item active"><a href="/blog">وبلاگ</a></li>
                              </ol>
                              </nav>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Breadcrumb End -->
         <!-- Blog Start -->
         <div class="iq-blog-section overview-block-ptb">
            <div class="container">
                     <div class="row rtl">
                        <div class="col-lg-8 col-sm-12 mt-lg-0 mt-5"> 
                           <article id="post-218" class="post-218 post type-post status-publish format-standard has-post-thumbnail hentry category-marketing tag-business tag-marketing">
            <div class="iq-blog-box">
            <div class="iq-blog-image clearfix">
               <img  src="/images/blog/01.png" class="img-fluid" alt="bespin" />
               <ul class="iq-blogtag">
               <li>
               {{ if eq .Type "blog" }}
                  {{ $categoryCount := .Params.categories | len }}
                  {{ range $index, $value := .Params.categories }}
                        <a href="{{ "/categories/" | absURL }}{{ . | urlize }}" title="">{{ $value }}</a>
                        {{ if lt (add $index 1) $categoryCount }}, {{ end }}
                  {{ end }}
               {{ end }}
               </li>
               </ul>
                              
            </div>
               <div class="iq-blog-detail">
                  <div class="iq-blog-meta">
                     <ul class="iq-postdate">
                        <li class="list-inline-item">
                           <i class="fa fa-calendar mr-2"></i>
                              <span class="screen-reader-text">منتشره در</span>
                              <a href="javascript:void(0)" rel="bookmark">
                                    <time class="entry-date published updated" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
                              </a>
                        </li>
                     </ul>
                  </div>
                  <div class="blog-content">
                  {{ .Content }}
                  </div>
            </div>
         </div>

      <div id="comments" class="comments-area">
            <div id="respond" class="comment-respond">
                  <!--<h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/wp-themes/bespin/blog/official-terraform-provider/#respond" style="display:none;">Cancel reply</a></small></h3><form action="#" method="post" id="commentform" class="comment-form" novalidate><p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p><p class="comment-form-comment"><label for="comment">Comment</label> <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea></p><p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" maxlength="245" required='required' /></p>
                  <p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="email" value="" size="30" maxlength="100" aria-describedby="email-notes" required='required' /></p>
                  <p class="comment-form-url"><label for="url">Website</label> <input id="url" name="url" type="url" value="" size="30" maxlength="200" /></p>
                  <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes" /> <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label></p>
                  <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Post Comment" /> <input type='hidden' name='comment_post_ID' value='218' id='comment_post_ID' />
                  <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                  </p></form>-->
                  <div id="disqus_thread"></div>
                  <script>
                  (function() { // DON'T EDIT BELOW THIS LINE
                  var d = document, s = d.createElement('script');
                  s.src = 'https://bespin.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
                  })();
                  </script>
                  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div><!-- #respond -->
      </div><!-- #comments -->

   </article>
   <!-- #post-## -->
   </div>
   <div class="col-lg-4 col-sm-12 mt-lg-0 mt-5">
      <aside id="secondary" class="widget-area" aria-label="Blog Sidebar">
         {{ partial "widgets/sidebar/search" . }}
         {{ partial "widgets/sidebar/recent" . }}
         {{ partial "widgets/sidebar/categories" . }}
         <!--<div id="recent-comments-2" class="widget widget_recent_comments">
               <h2 class="widget-title">Recent Comments</h2>
               <ul id="recentcomments">
               <li class="recentcomments">
               <span class="comment-author-link">
               <a href='#' rel='external nofollow ugc' class='url'>A Html Commenter</a></span> on <a href="javascript:void(0)">Construction industry</a>
               </li>
               </ul>
         </div>
         <div id="archives-2" class="widget widget_archive">
               <h2 class="widget-title">Archives</h2>
               <ul>
               <li><a href='#'>February 2020</a></li>
               </ul>
         </div>
         <div id="meta-2" class="widget widget_meta">
               <h2 class="widget-title">Meta</h2>
               <ul>
               <li><a href="javascript:void(0)">Log in</a></li>
               <li><a href="javascript:void(0)">Entries feed</a></li>
               <li><a href="javascript:void(0)">Comments feed</a></li>
               </ul>
         </div>-->
      </aside><!-- #secondary -->
   </div>
</div><!-- #row -->
</div>
</div>
{{ partial "footer" . }}
    <!-- back-to-top -->
      <div id="back-to-top">
         <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
      </div>
      <!-- back-to-top End -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.4.1.js" ></script>
    <!-- jQuery  for scroll me js -->
    <script src='/js/jquery-min.js'></script>
    <!-- popper  -->
    <script src="/js/popper.min.js"></script>
    <!--  bootstrap -->
    <script src="/js/bootstrap.min.js" ></script>
    <!-- Appear JavaScript -->
    <script src="/js/appear.js"></script>
                                 
    <!-- Jquery-migrate JavaScript -->
    <script src='/js/jquery-migrate.min.js'></script>
    <!-- Scripts JavaScript -->
    <script src='/js/scripts.js'></script>
    <!-- countdownTimer JavaScript -->
    <script src='/js/jQuery.countdownTimer.min.js'></script>
    <!-- Tox-progress JavaScript -->
    <script src='/js/tox-progress.min.js'></script>
    <!-- Timeline JavaScript -->
    <script src='/js/timeline.js'></script>
    <!-- Timeline min JavaScript -->
    <script src='/js/timeline.min.js'></script>
    <!-- Slick JavaScript -->
    <script src='/js/slick.min.js'></script>
    <!-- Popper JavaScript -->
    <script src='/js/popper.min.js'></script>
    <!-- Owl.carousel JavaScript -->
    <script src='/js/owl.carousel.min.js'></script>
                                 
    <!-- Countdown JavaScript -->
    <script src='/js/countdown.js'></script>
    <!-- Jquery.countTo JavaScript -->
    <script src='/js/jquery.countTo.js'></script>
    <!-- Magnific-popup JavaScript -->
    <script src='/js/jquery.magnific-popup.min.js'></script>
    <!-- Isotope.pkgd.min JavaScript -->
    <script src='/js/isotope.pkgd.min.js'></script>
    <!-- Wow JavaScript -->
    <script src='/js/wow.min.js'></script>
                                 
    <!--  Custom JavaScript -->
    <script src="/js/custom.js" ></script>
   </body>
</html>
