@import url(https://db.onlinewebfonts.com/c/f6886c4078ba029be14b7d1053f961b5?family=Anjoman+Regular) screen;
@import url(https://db.onlinewebfonts.com/c/209917dc640d9cb15bcaa37a83233ad0?family=Anjoman-FaNum+Bold) screen;
@import url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.0/css/ionicons.min.css") screen;
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css") screen;

body, .textgyreadventor, h1, h2, h3, h4, h5, h6, header .navbar .navbar-nav .nav-item a {
    font-family: 'Anjoman Regular', Vazirmatn !important;
}

p {
    line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: unset;
}

.brandfont {
    font-family: 'Anjoman-FaNum Bold', Vazirmatn !important;
}

.bigger {
    font-size: 20px;
}

/*Header*/
header {
    direction: rtl;
    text-align: right;
    left: auto;
    right: 0;
}

header .sub-main ul li:last-child {
    margin-left: auto;
    margin-right: 0;
}
header .sub-main ul li {
    margin-right: 30px;
    margin-left: 15px;
}

header .navbar .navbar-nav > li {
    margin: 0 0 0 40px;
}

/*Text in Header*/
rs-layer, h2, .text-center {
    direction: rtl;
}

.h3, .h4, .h5, .h6, h3, h4, h5, h6, p, .dropdown-menu {
    direction: rtl;
}

/*DropDown Menu*/
header .navbar .navbar-nav .nav-item a {
    text-align: right;
}

.dropdown-menu {
    left: auto;
    right: 0;
}

/*Swap Image and Text block*/
.icon-box-content {
    margin-right: 20px; /* Optional: Add space between text and image */
}


/*Next Image-Content Block with bigger images*/
.iq-icon-box-style-5 .icon-box-img {
    float: left;
}

/*Table in Index Page*/
@media (max-width: 479px) {
    .hidden {
        display: none !important;
    }
}

/*Text Boxes, Index Page*/
.icon-box-content {
    text-align: right;
}

.iq-icon-box-style-1 {
    directio: rtl;
}

/*Blue Section*/
.iq-help {
    direction: rtl; /* Set Right-to-Left direction */
}

.text-left {
    text-align: right !important;
}

.text-right {
    text-align: left !important;
}

.mr-4, .mx-4 {
    margin-right: auto !important;
    margin-left: 1.5rem !important;

}

/*.iq-db-options ul {
    direction: rtl;
    text-align: right;
}*/

/* Apply RTL to the table */
.iq-db-options ul li.type-1 {
    direction: rtl;
    text-align: right;
}


/*Subscribe Section*/
footer .footer-topbar {
    direction: rtl;
}

.mc4wp-form-fields input[type=submit] {
    right: auto;
    left: 0;
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: right !important;

  }
}

/*Footer*/
footer .footer-top {
    direction: rtl;
}

footer .widget, footer .widget:last-child {
    text-align: right;
}

footer .footer-top .widget ul li a {
    padding: 7px 15px 7px 0px;
}

footer .footer-top .widget ul li a::before {
    left: auto;
    right: 0;
    margin-right: auto;
    margin-left: 10px;
}

/*back to top*/
#back-to-top .top {
    right: auto;
    left: 25px;
}

/*Copy Right Text*/
@media (min-width: 992px) {
  .text-lg-right {
    text-align: left !important;
  }
}

/*Social Buttons*/
footer .social-icone li {
    margin-right: auto;
    margin-left: 20px;
}

/*Contact Page*/
.mr-2 {
    margin-right: auto;
    margin-left: .5rem !important;
}

.iq-breadcrumb-two .breadcrumb, .col-lg-4, .wpcf7-form textarea, .wpcf7-form input {
    direction: rtl;
}

.iq-breadcrumb-one .breadcrumb-item + .breadcrumb-item::before {
  content: "\f3d2";
}
.breadcrumb-item + .breadcrumb-item::before {
    padding-right: auto;
    padding-left: 1rem;
}

/*Jobs Page*/
.isotope-filters {
    direction: rtl;
}

.iq-portfolio {
    left: auto !important;
    right: 0%
}

.iq-portfolio .iq-portfolio-content .consult-details p, .mb-5 {
    text-align: right;
}

input[type="email"] {

  height: 46px;
}

@media (max-width: 479px) {
input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea {
    color: #59597e;
    background: transparent;
  }
}

/*Footer*/
footer .widget .iq-contact li i {
    margin-right: auto;
    margin-left: 15px;
}

/*FAQ*/
.iq-accordion .iq-accordion-details {
    direction: rtl;
    text-align: right;
}



.iq-columns-4 .iq-portfolio-content .details-box a {
    text-align: center;
}

.iq-accordion {
    direction: rtl;
}

.iq-accordion .iq-accordion-block.iq-active .iq-accordion-title .accordion-title, .iq-accordion .iq-accordion-title .accordion-title, .iq-list-with-icon li {
    text-align: right;
} /*to fix question in mobile view*/

/*Blog*/

.iq-blog-box .iq-blog-meta ul {
    text-align: right;

}

.iq-blog-box .iq-blogtag {
    margin: 0 20px 0 0;
    left: auto;
    right: 0;
}

.iq-blog-box .iq-blogtag li {
    float: right;
    margin-left: 5px;
}

.ml-2, .mx-2 {
    margin-left: auto !important;
    margin-right: .5rem !important;
}

/*Blog Post*/
.widget, .blog-content, .owl-carousel .iq-blog-box .iq-blog-detail .blog-title h5 {
    text-align: right;
}

blockquote {
    border-left: 1px solid #f2f2f2;
    border-right: 5px solid #0d1e67;
}

.iq-blog-box .iq-blogtag {
    margin: 0 0 0 20px;
}

.iq-blog-box .iq-blog-image img {
    margin-bottom: 48px;
}
}
/*About*/
@media (min-width: 992px) {
    .mb-lg-0, .my-lg-0 {
        text-align: right;
  }
}

.iq-list-with-icon li i {
    margin-left: 10px;
    margin-top: 2px;
}

img.shape {
    left: auto;
    right: 71%;
}

.iq-tabs.iq-tab-vertical-1 .nav.nav-pills {
    direction: ltr !important;
}

.iq-tabs .nav-pills .nav-link .media-body {
    text-align: right;
}

/*Apply*/
/*.iq-title-box .iq-title {
    text-align: right;
}*/ /*conflict with خدمات in index page*/

.iq-counter-section .iq-list.iq-two-column {
    direction: rtl;
}

.p-0, .iq-list-with-icon {
    direction: rtl;
}

@media (min-width: 992px) {
  .mb-lg-0 {
    text-align: right !important;
  }
}

/*********MOBILE********/
/*Menu*/
@media (max-width: 992px) {
header {
    direction: ltr;
  }
}

@media (max-width: 992px) {
  header .navbar ul.navbar-nav li {
    margin-right: auto;
    margin-left: 0;
  }
}

/*Double Button*/
@media (max-width: 767px) {
  .iq-help .col-lg-6.text-right.align-self-center {
    text-align: right !important;
  }
}

/*images in the 2nd boxes*/
.iq-icon-box-style-5 .icon-box-img {
  width: 34%;
}

/*Managed Support Page*/
/*rs-layer:not(.rs-wtbindex), .rs-layer:not(.rs-wtbindex) {
    text-align: right !important;
}*/ /*Conflict with index page*/

@media (min-width: 992px) {
  .mb-lg-0 {
    text-align: left;
  }
}

p, .mt-4 {
    text-align: right;
}


/******************Daas Page*/
.iq-counter.iq-counter-style-2 .counter-content .counter-title-text {
    text-align: right !important;
}

/*Cloud Page*/
/*img.shape-right {
    left: auto;
    right: 86%;
}*/ /*Has issue with the index page*/
