<!doctype html>
<html lang="en">
{{ partial "head" . }}
   <body>
      <!-- loading -->
      <div id="loading">
         <div id="loading-center">
            <div class="load-img" >
               <img src="/images/loader.gif" alt="loader">
            </div>
         </div>
      </div>
      <!-- loading End -->
{{ partial "nav-white" . }}
      <!-- Breadcrumb Start -->
      <div class=" main-bg" >
         <div class="container-fluid p-0">
            <div class="text-left iq-breadcrumb-one
               iq-bg-over black     ">
               <div class="container">
                  <div class="row align-items-center">
                     <div class="col-sm-12">
                        <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                           <h2 class="title">درباره ما</h2>
                           <ol class="breadcrumb main-bg">
                              <li class="breadcrumb-item"><a href="/"><i class="fa fa-home mr-2"></i>صفحه اصلی</a></li>
                              <li class="breadcrumb-item active">درباره</li>
                           </ol>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Breadcrumb End -->
      <!-- Counter Start -->
      <section class="iq-counter-section iq-pb-70">
         <div class="container">
            <div class="row rtl">
               <div class="col-lg-6 mb-lg-0 mb-5">
                  <div class="iq-title-box iq-title-default iq-title-box-2">
                     <div class="iq-title-icon">
                     </div>
                     <span class="iq-subtitle">درباره ما</span>
                     <h2 class="iq-title">ما با مشتریان‌مان بر فراز ابرها همراه می‌شویم.</h2>
                     <p class="iq-title-desc">
                     <b>بسپین</b> فعالیت خود را از سال ۱۴۰۳ با هدف ایجاد تحول در زیرساخت‌های دیجیتال و توانمندسازی سازمان‌ها برای دستیابی به رشد پایدار آغاز کرد. از همان ابتدا، با تکیه بر تیمی از متخصصان برجسته و بهره‌گیری از به‌روزترین فناوری‌ها، مسیر خود را به‌سوی ارائه خدمات نوآورانه در حوزه فناوری‌های ابری و DevOps هموار کرده‌ایم.
                     <br />
                     تمرکز ما همیشه بر ایجاد تیمی از افراد مستعد و پرانگیزه بوده است که نه‌تنها در کار خود حرفه‌ای باشند، بلکه به‌عنوان مشاورانی دلسوز و همراه، در کنار مشتریان‌مان قرار گیرند. ما در <b>بسپین</b> به دنبال ایجاد تفاوت‌های مثبت هستیم، چه در نوآوری‌های فنی و چه در تعریف و تحقق اهداف مشترک.
                     <br />
                     ما بر این باوریم که تحول دیجیتال نیازمند یکپارچگی عمیق بین تیم‌های توسعه و عملیات است. ماموریت ما، کمک به کسب‌وکارها در افزایش بهره‌وری و کاهش هزینه‌ها از طریق ارائه راهکارهای نوآورانه DevOps است.
                     </p>
                  </div>
                  <div class="iq-list  iq-two-column">
                     <ul class="iq-list-with-icon">
                        <li>
                           <i class="ion ion-checkmark-round"></i>استقرار مداوم (CI/CD)
                        </li>
                        <li>
                           <i class="ion ion-checkmark-round"></i>مدیریت زیرساخت به‌عنوان کد (IaC)
                        </li>
                        <li>
                           <i class="ion ion-checkmark-round"></i>نظارت و مانیتورینگ
                        </li>
                        <li>
                           <i class="ion ion-checkmark-round"></i>امنیت و انطباق سازمانی
                        </li>
                        <li>
                           <i class="ion ion-checkmark-round"></i>مدیریت زیرساحت‌ها
                        </li>
                        <li>
                           <i class="ion ion-checkmark-round"></i>مشاوره و آموزش
                        </li>
                     </ul>
                  </div>
                  <!--<div class="iq-btn-container mt-4">
                     <a class="iq-button iq-btn-medium iq-btn-round iq-btn-flat d-inline" href="request-demo.html">مشاوره بگیرید</a>
                  </div>-->
               </div>
               <div class="col-lg-6">
                  <div class="row">
                     <div class="col-lg-6 col-md-6">
                        <div class="iq-counter text-center iq-box-shadow iq-counter-style-1">
                           <div class="counter-content">
                              <p class="iq-counter-info">
                                 <span class="timer" data-to="10" data-speed="1000">10</span>
                                 <span class="counter-after-content"></span>
                                 <span class="counter-symbol">+</span></p>
                                 <h5 class="counter-title-text">مهندس دواپس و برنامه‌نویس</h5>
                              </div>
                           </div>
                           <div class="iq-counter text-center iq-box-shadow iq-counter-style-1">
                              <div class="counter-content">
                                 <p class="iq-counter-info">
                                    <span class="timer" data-to="2" data-speed="1000">2</span>
                                    <span class="counter-after-content"></span>
                                    <span class="counter-symbol">+</span></p>
                                    <h5 class="counter-title-text">مشتری</h5>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6">
                              <div class="iq-counter text-center iq-box-shadow iq-counter-style-1">
                                 <div class="counter-content">
                                    <p class="iq-counter-info">
                                       <span class="timer" data-to="2" data-speed="1000">2</span>
                                       <span class="counter-after-content"></span>
                                       <span class="counter-symbol">+</span></p>
                                       <h5 class="counter-title-text">استقرار</h5>
                                       
                                    </div>
                                 </div>
                                 <div class="iq-counter text-center iq-box-shadow iq-counter-style-1">
                                    <div class="counter-content">
                                       <p class="iq-counter-info">
                                          <span class="timer" data-to="5" data-speed="1000">5</span>
                                          <span class="counter-after-content"></span>
                                          <span class="counter-symbol">+</span></p>
                                          <h5 class="counter-title-text">پاسخ پشتیبانی در هر ماه</h5>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </section>
                  <!-- Counter End -->
                  <!-- Service Tab Start -->
                  <section class="pt-0 iq-sahpe">
        <img src="/images/others/shape1.png" class="img-fluid shape" alt="BESPIN">
        <div class="container rtl">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center iq-title-box iq-title-default iq-title-box-2">
                    <span class="iq-subtitle">ارزش‌های ما</span>
                        <h2 class="iq-title">پایه‌های خدمات ما برای تحول دیجیتال</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="iq-tabs iq-tab-vertical-1  iq-box-shadow">
                        <div class="row align-items-stretch">
                            <div class="col-lg-4">
                                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="pill" href="#tabs-042" role="tab">
                                            <div class="media">
                                                <img src="/images/tab/02-2.png" class="img-fluid" alt="BESPIN">
                                                <div class="media-body">
                                                    <h6 class="tab-title">رویکرد DevOps-محور</h6>
                                                    <p class="mb-0 tab-title-desc">
                                                    یکی از پایه‌های خدمات ما، طراحی و اجرای زیرساخت‌هایی است که با رویکردی دواپس-محور، فرآیندهای توسعه و استقرار را سریع، یکپارچه و پایدار می‌سازند.
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " data-toggle="pill" href="#tabs-142" role="tab">
                                            <div class="media">
                                                <img src="/images/tab/02-2.png" class="img-fluid" alt="BESPIN">
                                                <div class="media-body">
                                                    <h6 class="tab-title">طراحی و استقرار ابری</h6>
                                                    <p class="mb-0 tab-title-desc">
                                                    اپلیکیشن‌های شما را با معماری ابری بهینه‌سازی و روی زیرساخت‌های ابر مستقر می‌کنیم تا مقیاس‌پذیری، انعطاف‌پذیری و کارایی بالایی فراهم شود.
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " data-toggle="pill" href="#tabs-242" role="tab">
                                            <div class="media">
                                                <img src="/images/tab/03-3.png" class="img-fluid" alt="BESPIN">
                                                <div class="media-body">
                                                    <h6 class="tab-title">امنیت در هر مرحله</h6>
                                                    <p class="mb-0 tab-title-desc">
                                                    امنیت سرویس‌ها برای ما یک اولویت اساسی است. ما با پیاده‌سازی استانداردهای امنیتی در تمام مراحل توسعه، استقرار و اجرا، از داده‌ها و زیرساخت‌های شما محافظت می‌کنیم.
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " data-toggle="pill" href="#tabs-342" role="tab">
                                            <div class="media">
                                                <img src="/images/tab/04-4.png" class="img-fluid" alt="bespin">
                                                <div class="media-body">
                                                    <h6 class="tab-title">پشتیبانی مستمر و قابل اعتماد</h6>
                                                    <p class="mb-0 tab-title-desc">
                                                    تیم ما همواره در کنار شماست تا هرگونه چالش یا مشکلی در زیرساخت‌ها و سرویس‌های شما را با سرعت و دقت برطرف کند و اطمینان حاصل کند که عملیات شما بدون وقفه ادامه یابد.
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-8">
                                <div class="tab-content">
                                    <div class="tab-pane active show" id="tabs-042" role="tabpanel">
                                        <div>
                                            <img class="img-fluid" src="/images/tab/01.png" alt="bespin">
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tabs-142" role="tabpanel">
                                        <div>
                                            <img class="img-fluid" src="/images/tab/02.png" alt="bespin"></div>
                                    </div>
                                    <div class="tab-pane" id="tabs-242" role="tabpanel">
                                        <div>
                                            <img class="img-fluid" src="/images/tab/03.png" alt="bespin"></div>
                                    </div>
                                    <div class="tab-pane" id="tabs-342" role="tabpanel">
                                        <div>
                                            <img class="img-fluid" src="/images/tab/04.png" alt="#">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
             <!-- Icon-box End -->
    <section class="wow fadeInUp iq-application" style="background: url(/images/others/07.jpg) no-repeat 0 0; background-attachment: fixed; background-size:cover;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="text-center iq-title-box iq-title-default iq-title-box-1">
                        <h2 class="iq-title">همواره در مسیر پیشرفت</h2>

                        <p class="iq-title-desc">
                        ما در بسپین باور داریم که فناوری فقط ابزار نیست، بلکه پلی است به سوی آینده‌ای بهتر. با ارائه خدماتی که بر پایه نوآوری، اعتماد و تخصص بنا شده‌اند، تلاش می‌کنیم تا همراه مطمئن شما در مسیر تحول دیجیتال باشیم.
                        </p>
                    </div>
                    <div class="iq-btn-container">

                        <a class="iq-button iq-btn-round iq-btn-outline d-inline" href="services.html">بیشتر درباره خدمات ما بدانید</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service Tab End -->

<span style="display: block; padding-top: 100px;">
    {{ partial "from-blog" . }}
</span>

{{ partial "footer" . }}
    <!-- back-to-top -->
                                 <div id="back-to-top">
                                    <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
                                 </div>
                                 <!-- back-to-top End -->
                                 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                                 <script src="/js/jquery-3.4.1.js" ></script>
                                 <!-- jQuery  for scroll me js -->
                                 <script src='/js/jquery-min.js'></script>
                                 <!-- popper  -->
                                 <script src="/js/popper.min.js"></script>
                                 <!--  bootstrap -->
                                 <script src="/js/bootstrap.min.js" ></script>
                                 <!-- Appear JavaScript -->
                                 <script src="/js/appear.js"></script> 
                                 <!-- Jquery-migrate JavaScript -->
                                 <script src='/js/jquery-migrate.min.js'></script>
                                 <!-- Scripts JavaScript -->
                                 <script src='/js/scripts.js'></script>
                                 <!-- countdownTimer JavaScript -->
                                 <script src='/js/jQuery.countdownTimer.min.js'></script>
                                 <!-- Tox-progress JavaScript -->
                                 <script src='/js/tox-progress.min.js'></script>
                                 <!-- Timeline JavaScript -->
                                 <script src='/js/timeline.js'></script>
                                 <!-- Timeline min JavaScript -->
                                 <script src='/js/timeline.min.js'></script>
                                 <!-- Slick JavaScript -->
                                 <script src='/js/slick.min.js'></script>
                                 <!-- Popper JavaScript -->
                                 <script src='/js/popper.min.js'></script>
                                 <!-- Owl.carousel JavaScript -->
                                 <script src='/js/owl.carousel.min.js'></script>
                                 <!-- Countdown JavaScript -->
                                 <script src='/js/countdown.js'></script>
                                 <!-- Jquery.countTo JavaScript -->
                                 <script src='/js/jquery.countTo.js'></script>
                                 <!-- Magnific-popup JavaScript -->
                                 <script src='/js/jquery.magnific-popup.min.js'></script>
                                 <!-- Isotope.pkgd.min JavaScript -->
                                 <script src='/js/isotope.pkgd.min.js'></script>
                                 <!-- Wow JavaScript -->
                                 <script src='/js/wow.min.js'></script> 
                                 <!--  Custom JavaScript -->
                                 <script src="/js/custom.js" ></script>
                              </body>
                           </html>
