<!doctype html>
<html lang="en">
{{ partial "head" . }}
   <body>
      <!-- loading -->
      <div id="loading">
         <div id="loading-center">
            <div class="load-img" >
               <img src="/images/loader.gif" alt="loader">
            </div>
         </div>
      </div>
      <!-- loading End -->
{{ partial "nav-white" . }}
    <!-- Breadcrumb Start -->
    <div class=" main-bg">
        <div class="container-fluid p-0">
            <div class="text-left iq-breadcrumb-one
            iq-bg-over black     ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-12">
                            <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                                <h2 class="title">پرسش‌های متداول</h2>
                                <ol class="breadcrumb main-bg">
                                    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home mr-2"></i>صفحه اصلی</a></li>
                                    <li class="breadcrumb-item active">FAQ</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Faq Start -->
    <section class="iq-pricing-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center iq-title-box iq-title-default iq-title-box-2">
                        <div class="iq-title-icon">
                        </div>
                        <span class="iq-subtitle">Faq</span>
                        <h2 class="iq-title">پرسش‌های متداول</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="iq-accordion  iq-accordion-semi-round iq-accordion-classic">

                        <div class="iq-accordion-block  1 accordion-active">
                            <div class="iq-accordion-title" style="">
                                <div class="iq-icon-right"><i aria-hidden="true" class="ion ion-minus-round active"></i><i aria-hidden="true" class="ion ion-plus inactive"></i></div>
                                <h5 class="mb-0 accordion-title">
                    خدمات شما شامل چه چیزهایی می‌شود؟

                    </h5>
                            </div>

                            <div class="iq-accordion-details">

                                <p class="iq-content-text"> ما خدمات مختلفی شامل CI/CD، مدیریت زیرساخت، و مشاوره ارائه می‌دهیم. </p>

                            </div>
                        </div>

                        <div class="iq-accordion-block   2">
                            <div class="iq-accordion-title">
                                <div class="iq-icon-right"><i aria-hidden="true" class="ion ion-minus-round active"></i><i aria-hidden="true" class="ion ion-plus inactive"></i></div>
                                <h5 class="mb-0 accordion-title">
                    هزینه خدمات شما چگونه محاسبه می‌شود؟

                    </h5>
                            </div>

                            <div class="iq-accordion-details">

                                <p class="iq-content-text">
                                هزینه خدمات ما بر اساس نیازها و مقیاس پروژه شما محاسبه می‌شود. ما تلاش می‌کنیم تا قیمت‌گذاری شفاف و منصفانه‌ای ارائه دهیم که شامل جزئیات دقیق درباره هر خدمت باشد. برای اطلاعات بیشتر و دریافت تخمین دقیق، لطفاً با ما در ارتباط باشید.
                                </p>

                            </div>
                        </div>

                        <div class="iq-accordion-block   3">
                            <div class="iq-accordion-title">
                                <div class="iq-icon-right"><i aria-hidden="true" class="ion ion-minus-round active"></i><i aria-hidden="true" class="ion ion-plus inactive"></i></div>
                                <h5 class="mb-0 accordion-title">آیا خدمات شما برای استارتاپ‌ها مناسب است؟</h5>
                            </div>

                            <div class="iq-accordion-details">

                                <p class="iq-content-text"> بله، ما راهکارهای اقتصادی و مقیاس‌پذیری برای استارتاپ‌ها ارائه می‌دهیم. </p>

                            </div>
                        </div>

                        <div class="iq-accordion-block   4">
                            <div class="iq-accordion-title">
                                <div class="iq-icon-right"><i aria-hidden="true" class="ion ion-minus-round active"></i><i aria-hidden="true" class="ion ion-plus inactive"></i></div>
                                <h5 class="mb-0 accordion-title">آیا خدمات شما قابل شخصی‌سازی است؟</h5>
                            </div>

                            <div class="iq-accordion-details">

                                <p class="iq-content-text">
                                بله، ما به طور کامل خدمات خود را بر اساس نیازها و اهداف شما شخصی‌سازی می‌کنیم. هدف ما این است که راهکارهایی ارائه دهیم که دقیقاً مطابق با خواسته‌های شما باشد.
                                </p>

                            </div>
                        </div>

                        <div class="iq-accordion-block   5">
                            <div class="iq-accordion-title">
                                <div class="iq-icon-right"><i aria-hidden="true" class="ion ion-minus-round active"></i><i aria-hidden="true" class="ion ion-plus inactive"></i></div>
                                <h5 class="mb-0 accordion-title">چگونه می‌توانم خدمات شما را سفارش دهیم؟</h5>
                            </div>

                            <div class="iq-accordion-details">

                                <p class="iq-content-text">
                                برای سفارش خدمات، کافیست به صفحه تماس با ما مراجعه کرده و فرم درخواست را تکمیل کنید. تیم ما در کوتاه‌ترین زمان ممکن با شما تماس خواهد گرفت تا نیازهای شما را بررسی و فرایند همکاری را آغاز کند.
                                </p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Faq End -->
    <!-- Counter Start -->
    <section class="main-bg" style="background: url(/images/others/06.jpg) no-repeat 0 0; background-attachment: fixed; background-size:cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-lg-0 mb-5">
                    <div class="iq-title-box iq-title-default iq-title-box-2"> <span class="iq-subtitle">سرویس‌های DevOps</span>
                        <h2 class="iq-title text-white">استفاده از خدمات DevOps برای توسعه سریع و مقیاس‌پذیر</h2>
                        <p class="iq-title-desc text-white">
                        سرویس‌های **DevOps as a Service** به تیم‌های فناوری اطلاعات این امکان را می‌دهند که فرآیندهای توسعه و استقرار نرم‌افزار را به طور خودکار انجام دهند و از ابزارهای پیشرفته برای بهبود همکاری میان تیم‌های توسعه و عملیات استفاده کنند. این مدل به کاهش زمان تحویل و افزایش کیفیت محصولات کمک می‌کند.
                        </p>
                    </div>
                    <div class="iq-list  iq-two-column">
                        <ul class="iq-list-with-icon">
                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i>خودکارسازی CI/CD (CI/CD Automation)</li>

                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i>زیرساخت به عنوان کد (Infrastructure as Code - IaC)</li>

                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i>نظارت و بازخورد مداوم (Continuous Monitoring and Feedback)</li>

                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i>یکپارچگی DevSecOps (DevSecOps Integration)</li>

                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i>امنیت و تطابق ابری (Cloud Security and Compliance)</li>

                            <li class="text-white">
                                <i class="ion ion-checkmark-round"></i>توزیع بار (Load Balancing)</li>

                        </ul>
                    </div>
                    <div class="iq-btn-container mt-4">
                        <a class="iq-button iq-btn-medium iq-btn-round iq-btn-flat d-inline" href="/services">اطلاعات بیشتر</a>
                    </div>
                </div>
                <div class="col-lg-6 align-self-stretch align-self-center">
                    <div class="iq-popup-video">
                        <div class="iq-video-img position-relative">

                            <div class="iq-video-icon wow FadeIn">
                                <a href="https://www.youtube.com/watch?v=_I94-tJlovg" class="iq-video popup-youtube">
                                    <i aria-hidden="true" class="ion ion-play"></i> </a>
                                <div class="iq-waves">
                                    <div class="waves wave-1"></div>
                                    <div class="waves wave-2"></div>
                                    <div class="waves wave-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter End -->

<span style="display: block; padding-top: 100px;">
    {{ partial "from-blog" . }}
</span>

{{ partial "footer" . }}
    <!-- back-to-top -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
    </div>
    <!-- back-to-top End -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.4.1.js"></script>
    <!-- jQuery  for scroll me js -->
    <script src='/js/jquery-min.js'></script>
    <!-- popper  -->
    <script src="/js/popper.min.js"></script>
    <!--  bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Appear JavaScript -->
    <script src="/js/appear.js"></script>
    <!-- Jquery-migrate JavaScript -->
    <script src='/js/jquery-migrate.min.js'></script>
    <!-- Scripts JavaScript -->
    <script src='/js/scripts.js'></script>
    <!-- countdownTimer JavaScript -->
    <script src='/js/jQuery.countdownTimer.min.js'></script>
    <!-- Tox-progress JavaScript -->
    <script src='/js/tox-progress.min.js'></script>
    <!-- Timeline JavaScript -->
    <script src='/js/timeline.js'></script>
    <!-- Timeline min JavaScript -->
    <script src='/js/timeline.min.js'></script>
    <!-- Slick JavaScript -->
    <script src='/js/slick.min.js'></script>
    <!-- Popper JavaScript -->
    <script src='/js/popper.min.js'></script>
    <!-- Owl.carousel JavaScript -->
    <script src='/js/owl.carousel.min.js'></script>
    <!-- Countdown JavaScript -->
    <script src='/js/countdown.js'></script>
    <!-- Jquery.countTo JavaScript -->
    <script src='/js/jquery.countTo.js'></script>
    <!-- Magnific-popup JavaScript -->
    <script src='/js/jquery.magnific-popup.min.js'></script>
    <!-- Isotope.pkgd.min JavaScript -->
    <script src='/js/isotope.pkgd.min.js'></script>
    <!-- Wow JavaScript -->
    <script src='/js/wow.min.js'></script>
    <!--  Custom JavaScript -->
    <script src="/js/custom.js"></script>
</body>

</html>
